<%- include('partials/header'); -%>

    <body>
        <%- include('partials/nav'); -%>
            <div class="container">
                <!-- Content here -->
            </div>
            <%- include('partials/footer'); -%>