<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/loginstyles.css">



    <title>Register</title>
</head>

<body>
    <center>
        <h1 class="loginlogo"> WIZCARS</h1>
    </center>

    <center>
        <form action="/login" method="post">
            <div class="loginForm">
                <h2 class="title">
                    <center>Register
                        <hr>
                    </center>
                </h2>
                <div class="input">
                    <div class="form-group userid">
                        <input type="string" name="username" class="form-control" id="userid"
                            aria-describedby="emailHelp" style="border-radius: 25px;" placeholder="  Email"
                            autocomplete="off">
                    </div>

                    <div class="form-group userid">
                        <input type="password" name="password" class="form-control" id="password"
                            style="border-radius: 25px;" placeholder="  Password" autocomplete="off">
                    </div>

                    <div class="loginButton">
                        <button id="l" type="submit" class="btn btn-outline-dark"> REGISTER </button>
                    </div>
                </div>

                <a id="reg" href="/">Login here</a>
            </div>
        </form>
    </center>


</body>

</html>