body {
  background-color: rgb(241, 238, 238);
}

.col0 {
  margin: 20px;
}

.col0 {
  border-style: solid;
  border-width: 2.5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.col0 img {
  margin: 20px;
  width: 250px;
}

.dt1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dt2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 100px;
}

#button1 {
  margin-top: 30px;
  width: 200px;
  border-color: #30be70;
  background-color: #30be70;
  color: white;
  border-width: 2px;
  border-radius: 25px;
  font-size: 15px;
}

#button1:hover {
  background-color: #0fa753;
  border-color: #0fa753;
  color: white;
  border-width: 2px;
  border-radius: 25px;
  font-size: 15px;
}

.emailbutton {
  margin: 20px;
}

#button2 {
  margin-top: 30px;
  margin-right: 50px;
  width: 200px;
  border-color: #cc0000;
  background-color: #cc0000;
  color: white;
  border-width: 2px;
  border-radius: 25px;
  font-size: 15px;
}

#button2:hover {
  background-color: #cc0000;
  border-color: #cc0000;
  color: white;
  border-width: 2px;
  border-radius: 25px;
  font-size: 15px;
}

.container {
  margin-left: 180px;
}
